# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
db.sqlite3
/staticfiles
/media
/static

# Environment
.env
*.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Misc
*.pyc
coverage.xml
*.pot